#intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2016/10/22/21/54/industry-1761801_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  height: 100vh;
  width: 100vh;
  padding-left: 30px;
  padding-top: 30px;
}

/* .image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */ 
  /* object-fit: cover; */

/* } */

/* h1 { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
} */

/* Style the header: fixed position (always stay at the top) */
/* .header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  height: 50px;
  /* padding: 3px;  */
/* }  */

/* The progress container (grey background) */
.progress-container {
  /* position: fixed; */
  width: 100%;
  height: 12px;
  background: #ccc;
  z-index: 100;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  /* position: fixed; */
  height: 12px;
  background: #999933;
  width: 0%;
}

#map { 
    height: 100vh;
    z-index: 1;
    opacity: 0.25;
    background-color: '#2e2e2e';
    transition: opacity .75s ease-in-out;
}

p {
  font-family: 'Bitter', serif;
}

h1{ 
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  /* font-weight: bold; */
  font-size: 4em;
  opacity: .95; 
  /* letter-spacing: -1px;   */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.7); */
  /* padding: 10px;  */
  text-align: left;
}

/* h1 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 4em;
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
} */

h2 {
  font-family: 'Bitter', serif;
  text-align: left;
  /* font-weight: bold; */
  font-size: 2em;
  color: white; 
  opacity: .95;
}

 /* smooth creates a rewind / speed up effect when jumping between sections of the page */
 html {
    scroll-behavior: smooth;
  }

  .main {
    /* overflow-scrolling enables momentum-based scrolling on touch devices. This allows the user to use their fingers less on touch devices  */
    -webkit-overflow-scrolling: touch;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    transform: translate3d(0, 0, 0); 
  }

  #scrollytelling {
    /* 'position:relative' allows the scrollytelling section to be positioned in a custom way */
    position: relative;
    /* OPTIONAL: you can choose any background color */
    /* background-color: white; */
    /* OPTIONAL: padding is used to create space between on the edges of the story*/
    /* padding: 1rem; */
    background: #000;

  }

  article {
    /* 'position:relative' allows the article section to be positioned in a custom way */
    position: relative;
    padding: 0 1rem;
    /* 'max-width' sets how wide each step's the text comes up on the screen */
    max-width: 50rem;
    height: 100%;
    /* 'OPTIONAL: margin-top' sets how much space there is between the the figure and the first message.*/
    /* margin-top: 0; */
    /* 'margins position step on the page*/
    /* margin-left: .5rem; */
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: '#2e2e2e'; */

  }

  figure {
    /* 'sticky' is responsible for keeping the figure centered in the page as the user scrolls */
    position: -webkit-sticky;
    position: sticky;
    /* 'left' is required for 'position:sticky' to function */
    left: 0;
    /* 'width:100%' and 'margin:0' forces the figure to take up the maximum space. This helps with image sizing and centering*/
    width: 100%;
    /* margin: 0; */
    /*OPTIONAL: Setting the min-height prevents the figure from becoming unreadable */
    min-height: 480px;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* OPTIONAL: you can choose any background color */
    background: #000;
  }

  figure img {
    /* 'margin:auto' keeps the images centered even when other properties are changed.*/
    margin: auto;
  }

  .step {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    margin: 0 auto 40rem auto;
    /*OPTIONAL: creates space around the text*/
    padding: 1.2rem;
    /*OPTIONAL: can be set based on preferences*/
    /* font-size: 1rem; */
    /*OPTIONAL: can be set based on preferences*/
    /* background-color: #f3f3f3; */
    /*OPTIONAL: creates a solid box around the text*/
    /* border: 2px solid #282828; */
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    /* opacity: .5; */
    
  }

  .header {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    /* margin: 0 auto 40rem auto; */
    /*OPTIONAL: creates space around the text*/
    padding: 1.5rem;
    /*OPTIONAL: can be set based on preferences*/
    font-size: 3rem;
    /*OPTIONAL: can be set based on preferences*/
    background-color: #f3f3f3;
    /*OPTIONAL: creates a solid box around the text*/
    border: 2px solid #282828;
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: .95;
    max-width: 100%;
    max-height: 100%;
    /* margin-left: .5rem; */
  } 

  .case-study-header {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    /* margin: 0 auto 30rem auto; */
    /*OPTIONAL: creates space around the text*/
    padding: 1.5rem;
    /*OPTIONAL: can be set based on preferences*/
    font-size: 2rem;
    /*OPTIONAL: can be set based on preferences*/
    background-color: #f3f3f3;
    /*OPTIONAL: creates a solid box around the text*/
    border: 2px solid #282828;
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: .95;
    max-width: 60rem;
    /* max-height: 100%; */
    /* margin-left: .5rem; */
  } 

  .step-body {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    /* margin-bottom: 40rem; */
    /* margin: 0 auto 40rem auto; */
    /*OPTIONAL: creates space around the text*/
    padding: 1.4rem;
    /*OPTIONAL: can be set based on preferences*/
    font-size: 1rem;
    /*OPTIONAL: can be set based on preferences*/
    background-color: #f3f3f3;
    /*OPTIONAL: creates a solid box around the text*/
    border: 2px solid #282828;
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: .95;
    max-width: 45rem;
    /* margin-left: .5rem; */
  }

  /* .step.is-active {
    opacity: .95;
  } */

  .step.last-child {
    /* OPTIONAL: removes extra space at the bottom of the story*/
    margin-bottom: 0;
  }

  .step h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
  }

  .step p {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /*OPTIONAL: creates space around the text*/
    /* padding: 1rem; */
    /*OPTIONAL: can be set based on preferences*/
    font-size: 1rem;
    /*OPTIONAL: can be set based on preferences*/
    /* background-color: #f3f3f3; */
    /*OPTIONAL: creates a solid box around the text*/
    /* border: 2px solid #282828; */
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: 0.9;
    /* text-align: center; */
    /* padding: 1rem; */
    /* font-size: 1.5rem; */
    font-family: 'Bitter', serif;
    line-height: 1.6;
    /* margin-bottom: 0; */
    }

  p.credit {
    font-family: 'Bitter', serif;
    font-size: 0.8em;
  }

  span.bold {
    font-weight: bold;
  }


  .step ul {
    font-family: 'Bitter', serif;
    font-size: 0.95em;
    margin-bottom: 8px;
    color: #3E3F3A;
    opacity: 0.9;
  }

  .step img {
    width: 100%;
    max-height: 100%;
    display: block;
    opacity: 1;
  }

  /* .mapboxgl-popup {
    max-width: 150px;
    text-align: left;
    opacity: 0.8;
  } */

  /* .mapboxgl-popup h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
  } */

  /* .mapboxgl-popup h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
  } */

  /* #legend {
    background-color: #f3f3f3;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Nunito', sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 4;
    } */


ul span {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
  }

  ul span {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
  }

  ul span.fill {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 5px 0;
    /* border-radius: 50%; */
  }

  #menu {
    background: #fff;
    /* position: absolute; */
    z-index: 1;
    /* top: 10px; */
    /* right: 10px; */
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Bitter', serif;
  }
       
  #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
    
  #menu a:last-child {
    border: none;
  }
    
  #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }
    
  #menu a.active {
    background-color: #3887be;
    color: #ffffff;
  }
    
  #menu a.active:hover {
    background: #3074a4;
  }

  .circle {
    background: #cadb75;
    border-radius: 50%;
    border-color: #2f2d2d;
    border-width: 0.5;
    margin-right: 10px;
    /* display: inline-block; */
    opacity: 0.65;
  }

  .ethylene-circle {
    background: #F6CF71;
    border-radius: 50%;
    border-color: #2f2d2d;
    border-width: 0.5;
    /* margin-right: 10px; */
    /* display: inline-block; */
    /* opacity: 0.65; */
  }

  /* table {
    margin:auto;
  } */

  th, td {
    padding: 10px;
  }

  .circle-legend {
    float: right;
    margin-left: 20px;
    border: .5px solid #282828;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  .chromium-legend {
    /* float: right; */
    /* margin-left: 30px; */
    border: .5px solid #282828;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  .side-by-side {
    display: inline-block;
  }


  #year-chart {
    border: 2px solid #282828;
    width: 100%;
    background-color: #2e2e2e;
  }

  #donut-chart {
    border: 2px solid #282828;
    width: 100%;
    background-color: #2e2e2e;
  }

  .arc {
    z-index: 100
  }

  /* svg.release-chart{
    width: 100%;
    background-color: #2e2e2e; */

    /* height: 100%; */
  /* } */
  
  .bar {
    fill: #cadb75;
    /* opacity: 0.8; */
  }

  text {
    font-size: 12px;
    fill: #f0f0f0;
    font-family: 'PT Sans', sans-serif;
  }

  text.legend-label {
    font-family: 'Bitter', serif;
    fill: #3E3F3A;
    opacity: 0.9;
    font-size: 0.8em;
    text-shadow: 0
  }

  text.legend-title {
    font-family: 'Bitter', serif;
    fill: #3E3F3A;
    opacity: 0.9;
    font-size: .9em;
    text-shadow: 0
  }

  text.label {
    font-size: 14px;
    font-weight: 400;
    text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;

  }

  text.title {
    font-size: 20px;
    font-weight: 400;
    text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;

  }

  div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 6px;
    pointer-events: none;
    font-size: 1rem;
  }

  #total-slider {
    width: 100%;
    /* float: left; */
    /* margin-top: 15px;
    margin-bottom: 25px; */
  }

  #total-year {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    /* background: #2e2e2e;
    color: white;
    border-radius: 6px; */
    /* padding: 10px; */

    /* float: left; */
  }

  #company-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
    opacity: .95;
  }

  #company-details {
    font-family: 'Bitter', serif;
    font-size: 1em;
    opacity: .95;
    line-height: 1.6;
    }