#intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2016/10/22/21/54/industry-1761801_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#container {
  height: 100vh;
  /* width: 100vh; */
  /* margin: auto; */
  padding-left: 30px;
  padding-top: 30px;
  margin: auto;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* The progress container (grey background) */
.progress-container {
  /* position: fixed; */
  width: 100%;
  height: 12px;
  background: #ccc;
  z-index: 100;
}

#scroll-icon a {
  position: absolute;
  bottom: 20px;
  /* margin-left: 30px; */
  margin-left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 25px/1'Bitter', serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
}

#scroll-icon a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-icon a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  /* position: fixed; */
  height: 12px;
  background: #999933;
  width: 0%;
}

#map { 
    height: 100vh;
    z-index: 1;
    opacity: 0.25;
    background-color: '#2e2e2e';
    transition: opacity .75s ease-in-out;
}

p {
  font-family: 'Bitter', serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #3E3F3A;
}

p.intro {
  font-family: 'Bitter', serif;
  font-size: 1.5rem;
  color: white;
  opacity: .95; 
}

p.credit {
  font-family: 'Bitter', serif;
  font-size: 0.8em;
}

h1 { 
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  /* font-weight: bold; */
  font-size: 4em;
  opacity: .95; 
  /* letter-spacing: -1px;   */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.7); */
  /* padding: 10px;  */
  text-align: left;
}

h1.intro { 
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  /* font-weight: bold; */
  font-size: 4em;
  opacity: .95; 
  /* letter-spacing: -1px;   */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.7); */
  /* padding: 10px;  */
  text-align: left;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 3em;
  /* color: white;  */
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
}

a {
  color:#287274;
}

a:hover {
  color:#0d585f;
  font-style: underline;
}

/* smooth creates a rewind / speed up effect when jumping between sections of the page */
html {
    scroll-behavior: smooth;
}

.main {
  /* overflow-scrolling enables momentum-based scrolling on touch devices. This allows the user to use their fingers less on touch devices  */
  -webkit-overflow-scrolling: touch;
  /* 'transform' is included to ensure z-index works properly on all kinds of devices */
  transform: translate3d(0, 0, 0); 
}

#scrollytelling {
  /* 'position:relative' allows the scrollytelling section to be positioned in a custom way */
  position: relative;
  /* OPTIONAL: padding is used to create space between on the edges of the story*/
  /* padding: 1rem; */
  background: #000;

}

article {
  /* 'position:relative' allows the article section to be positioned in a custom way */
  position: relative;
  /* 'max-width' sets how wide each step's the text comes up on the screen */
  max-width: 40rem;
  height: 100%;
  /* 'OPTIONAL: margin-top' sets how much space there is between the the figure and the first message.*/
  margin-top: 0;
  /* 'margins position step on the page*/
  margin-left: 1rem;
  /* 'transform' is included to ensure z-index works properly on all kinds of devices */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }

  figure {
    /* 'sticky' is responsible for keeping the figure centered in the page as the user scrolls */
    position: -webkit-sticky;
    position: sticky;
    /* 'left' is required for 'position:sticky' to function */
    left: 0;
    /* 'width:100%' and 'margin:0' forces the figure to take up the maximum space. This helps with image sizing and centering*/
    width: 100%;
    /*OPTIONAL: Setting the min-height prevents the figure from becoming unreadable */
    min-height: 480px;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* OPTIONAL: you can choose any background color */
    background: #000;
  }

  figure img {
    /* 'margin:auto' keeps the images centered even when other properties are changed.*/
    margin: auto;
  }

  .step {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    margin: 0 1rem 40rem auto;
    /*OPTIONAL: creates space around the text*/
    padding: 1.2rem;
    max-width: 40rem;
    /*OPTIONAL: can be set based on preferences*/
    font-size: 1rem;
    /*OPTIONAL: can be set based on preferences*/
    background-color: #f3f3f3;
    /*OPTIONAL: creates a solid box around the text*/
    border: 2px solid #282828;
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: .95;
    border-radius: 4px;
    
  }

  .step:last-child {
    /* OPTIONAL: removes extra space at the bottom of the story*/
    margin-bottom: 7rem;
  }

  ul {
    font-family: 'Bitter', serif;
    font-size: 0.95em;
    margin-bottom: 8px;
    color: #3E3F3A;
  }

  .step img {
    width: 100%;
    max-height: 100%;
    display: block;
    opacity: 1;
  }

  ul span {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
  }

  /* #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Bitter', serif;
  } */
       
  /* #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  } */
    
  /* #menu a:last-child {
    border: none;
  } */
    
  /* #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
  } */
    
  /* #menu a.active {
    background-color: #3887be;
    color: #ffffff;
  } */
    
  /* #menu a.active:hover {
    background: #3074a4;
  } */

  .circle-legend {
    float: right;
    margin-left: 20px;
    border: .5px solid #282828;
    border-radius: 4px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  .chromium-legend {
    /* float: right; */
    /* margin-left: 30px; */
    border: .5px solid #282828;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  #year-chart {
    /* border: .25px solid #282828; */
    width: 100%;
    /* background-color: #2e2e2e; */
    /* border-radius: 4px; */
    /* margin-left: 25px; */
  }

  #donut-chart {
    border: 2px solid #282828;
    width: 100%;
    background-color: #2e2e2e;
  }

  .arc {
    z-index: 100
  }
  
  .bar {
    fill: #cadb75;
  }

  text {
    font-size: 12px;
    font-family: 'Bitter', serif;
    fill: #3E3F3A;
    opacity: 0.9;
  }

  text.bar-chart-label {
    font-size: 14px;
  }

  text.legend-label {
    font-size: 0.8em;
  }

  text.legend-title {
    fill: #3E3F3A;
    font-size: .9em;
  }


  /* text.title {
    font-size: 20px;
    font-weight: 400;
    text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;

  } */

  /* div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 6px;
    pointer-events: none;
    font-size: 1rem;
  } */

  /* #total-slider {
    width: 100%;
  } */

  #total-slider {
    width: 490px;
  }

  #sliderdiv{
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* float: right; */
   }

  #total-year {
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: #2e2e2e; */
    /* border: .5px solid #282828; */
    /* color: white; */
    padding: 5px;
    /* width: 100px; */
    /* border-radius: 4px; */
    text-align: center;
    float: left;
  }

  /* #release-note {} */

  #release-note {
    font-size: .9rem;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #parent-button {
    background-color: #5f5f5f;
    /* width: 100%; */
    float: left;
    margin-top: .4rem;
    margin-right: .8rem;
    font-family: 'Bitter', serif;
    /* font-size: 0.95em; */
    /* margin-bottom: 8px; */
    color: #f3f3f3;
  }

  #company-header {
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
  }

  #company-details {
    font-family: 'Bitter', serif;
    font-size: 1em;
    line-height: 1.6;
  }

  #outro {
    padding-top: 3rem;
    background: #f3f3f3;
  }

  .outro-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .outro-text:last-child {
    margin-bottom: 20px;
  }