#map { 
    height: 100vh; 
}

 /* smooth creates a rewind / speed up effect when jumping between sections of the page */
 html {
    scroll-behavior: smooth;
  }

  .main {
    /* overflow-scrolling enables momentum-based scrolling on touch devices. This allows the user to use their fingers less on touch devices  */
    -webkit-overflow-scrolling: touch;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    transform: translate3d(0, 0, 0); 
  }

  #scrollytelling {
    /* 'position:relative' allows the scrollytelling section to be positioned in a custom way */
    position: relative;
    /* OPTIONAL: you can choose any background color */
    /* background-color: white; */
    /* OPTIONAL: padding is used to create space between on the edges of the story*/
    /* padding: 1rem; */
  }

  article {
    /* 'position:relative' allows the article section to be positioned in a custom way */
    position: relative;
    padding: 0 1rem;
    /* 'max-width' sets how wide each step's the text comes up on the screen */
    max-width: 20rem;
    /* 'OPTIONAL: margin-top' sets how much space there is between the the figure and the first message.*/
    margin-top: 0;
    /* 'margin-left:auto' and 'margin-right:auto' centers the article on the page.*/
    margin-left: 5rem;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  figure {
    /* 'sticky' is responsible for keeping the figure centered in the page as the user scrolls */
    position: -webkit-sticky;
    position: sticky;
    /* 'left' is required for 'position:sticky' to function */
    left: 0;
    /* 'width:100%' and 'margin:0' forces the figure to take up the maximum space. This helps with image sizing and centering*/
    width: 100%;
    margin: 0;
    /*OPTIONAL: Setting the min-height prevents the figure from becoming unreadable */
    min-height: 480px;
    /* 'transform' is included to ensure z-index works properly on all kinds of devices */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* OPTIONAL: you can choose any background color */
    background-color: white;
  }

  figure img {
    /* 'margin:auto' keeps the images centered even when other properties are changed.*/
    margin: auto;
  }

  .step {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /* margins are set to position step as high as possible, centered, and with a minimum bottom margin*/
    margin: 0 auto 2rem auto;
  }

  .step.last-child {
    /* OPTIONAL: removes extra space at the bottom of the story*/
    margin-bottom: 0;
  }

  .step p {
    /* 'position relative' allows the steps to positioned in a custom way*/
    position: relative;
    /*OPTIONAL: centers the text*/
    text-align: center;
    /*OPTIONAL: creates space around the text*/
    padding: 1rem;
    /*OPTIONAL: can be set based on preferences*/
    font-size: 1.5rem;
    /*OPTIONAL: can be set based on preferences*/
    background-color: #f3f3f3;
    /*OPTIONAL: creates a solid box around the text*/
    border: 2px solid #282828;
    /*OPTIONAL: makes the text slightly see-through so that the figure is somewhat visible underneath*/
    opacity: 0.95
  }