#intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2016/10/22/21/54/industry-1761801_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#container {
  height: 100vh;
  padding-left: 30px;
  padding-top: 30px;
  margin: auto;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.progress-container {
  width: 100%;
  height: 12px;
  background: #ccc;
  z-index: 100;
}

#scroll-icon a {
  position: absolute;
  bottom: 20px;
  margin-left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 25px/1'Bitter', serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
}

#scroll-icon a span {
  position: absolute;
  top: 0;
  left: 47%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-icon a span::after {
  position: absolute;
  top: 50%;
  left: 47%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.progress-bar {
  height: 12px;
  background: #999933;
  width: 0%;
}

#map { 
    height: 100vh;
    z-index: 1;
    opacity: 0.25;
    background-color: '#2e2e2e';
    transition: opacity .75s ease-in-out;
}

p {
  font-family: 'Bitter', serif;
  font-size: 1.3em;
  line-height: 1.6;
  color: #3E3F3A;
}

p.intro {
  font-family: 'Bitter', serif;
  font-size: 2em;
  color: white;
  opacity: .95; 
}

p.credit {
  font-family: 'Bitter', serif;
  font-size: 1em;
}

h1 { 
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  opacity: .95; 
  text-align: left;
}

h1.intro { 
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  opacity: .95; 
  text-align: left;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 3.5em;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
}

h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.6em;
}

a {
  color:#287274;
}

a:hover {
  color:#0d585f;
  font-style: underline;
}

/* smooth creates a rewind / speed up effect when jumping between sections of the page */
html {
    scroll-behavior: smooth;
}

.main {
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0); 
}

#scrollytelling {
  position: relative;
  background: #000;

}

article {
  position: relative;
  max-width: 45rem;
  height: 100%;
  margin-top: 0;
  margin-left: 1rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    min-height: 480px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #000;
  }

  figure img {
    margin: auto;
  }

  .step {
    position: relative;
    margin: 0 1rem 40rem auto;
    padding: 1.2rem;
    /* max-width: 55rem; */
    /* font-size: 1rem; */
    background-color: #f3f3f3;
    border: 2px solid #282828;
    opacity: .95;
    border-radius: 4px;
    
  }

  .step:last-child {
    margin-bottom: 7rem;
  }

  ul {
    font-family: 'Bitter', serif;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #3E3F3A;
  }

  .step img {
    width: 100%;
    max-height: 100%;
    display: block;
    opacity: 1;
  }

  ul span {
    width: 12px;
    height: 12px;
    float: left;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
  }

  .circle-legend {
    float: right;
    margin-left: 20px;
    border: .5px solid #282828;
    border-radius: 4px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  .chromium-legend {
    border: .5px solid #282828;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
  }

  #year-chart {
    width: 100%;
  }
  
  .bar {
    fill: #cadb75;
  }

  .grid {
    opacity: 0.25;
  }

  text {
    font-size: 14px;
    font-family: 'Bitter', serif;
    fill: #3E3F3A;
    opacity: 0.9;
  }

  text.bar-chart-label {
    font-size: 16px;
  }

  text.legend-label {
    font-size: 1em;
  }

  text.legend-title {
    fill: #3E3F3A;
    font-size: 1.2em;
  }

  #total-slider {
    width: 560px;
  }

  #sliderdiv{
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
   }

  #total-year {
    font-family: 'Bitter', serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    float: left;
  }

  #release-note {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #parent-button {
    background-color: #5f5f5f;
    float: left;
    margin-top: .4rem;
    margin-right: .8rem;
    font-family: 'Bitter', serif;
    color: #f3f3f3;
  }

  #company-header {
    font-family: 'Bitter', serif;
    font-size: 1.3rem;
  }

  #company-details {
    font-family: 'Bitter', serif;
    font-size: 1.1em;
    line-height: 1.6;
  }

  #outro {
    padding-top: 6rem;
    background: #f3f3f3;
  }

  .outro-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .outro-text:last-child {
    padding-bottom: 1rem;
  }